<div style="max-width:600px;margin:12px auto;padding:8px;">
    <head>
		<meta charset="utf-8" />
		<title>Sum Answer</title>
		<link rel="stylesheet" href="/styles.css">
	</head>
    <label>Deviiine</label><break/>
    <label>23AIML014</label><break/>
    <form method="post" action="/sum">
        
        <label>No.1 <input type="text" name="num1"/></label><br/>
        <label>No.2 <input type="text" name="num2"/></label><br/>
        <input type="submit" value="Compute">
    </form>
    <% if (sum !== null) { %>
    <% } %>
</div>