body{
    background:rgb(245, 197, 134);
}
a{
    text-decoration: none;
}
h1, ul,li{
    color: rgb(222, 161, 29);
    text-decoration: none;
}
    .fire{
        background-color: rgb(240, 152, 36);
        color: rgb(242, 240, 238);
        padding: 5px;
        border-radius: 5px;
    }
    h2{
        color: rgb(216, 8, 8);
    }
    .simple{
        background-color: rgb(215, 234, 138);
        color: rgb(0, 0, 0);
        padding: 10px;
        border-radius: 105px;
        font-size: 20px;
        font-family: Arial, sans-serif;
        font-style: italic;
        font-weight: bolder;
        
    }
    #fireid{
        background-color: rgb(227, 158, 10);
        color: rgb(255, 255, 255);
        background-position: 0cm 0cm;
    }
    .firebutton{
        background-color: rgb(240, 152, 36);
        color: rgb(249, 248, 246);
        padding: 10px;
        border-radius: 15px;
        font-size: 20px;
        font-family: Arial, sans-serif;
        /* font-style: italic; */
        font-weight: bolder;
        cursor: pointer;
        position: fixed ;
        bottom: 70px;
        
    }
    .firebutton:hover{
        background-color: rgb(247, 238, 220);
        color: rgb(231, 176, 25);
        box-shadow: 0 140px 10px rgba(36, 1, 1, 0.2);
    }
    /*fixed button on bottom  which remain at bottom shle scorling*/
    .footer{
        background-color: rgb(240, 152, 36);
        color: rgb(242, 240, 238);
        padding: 10px;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .contact{
        position: fixed;
        bottom: 67px;
        right: 15px;
        border-radius: 30%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .contact:hover{
        transform: scale(1.09);
        transition: transform 0.3s ease;
    }