body{
    background:rgb(245, 197, 134);
    h1{
        color: rgb(222, 161, 29);
    }
    .fire{
        background-color: rgb(240, 152, 36);
        color: rgb(242, 240, 238);
        padding: 5px;
        border-radius: 5px;
    }
    h2{
        color: rgb(216, 8, 8);
    }
    .simple{
        background-color: rgb(215, 234, 138);
        color: rgb(0, 0, 0);
        padding: 10px;
        border-radius: 105px;
        font-size: 20px;
        font-family: Arial, sans-serif;
        font-style: italic;
        font-weight: bolder;
        
    }
    #fireid{
        background-color: rgb(227, 158, 10);
        color: rgb(255, 255, 255);
        background-position: 0cm 0cm;
    }
    .firebutton{
        background-color: rgb(240, 152, 36);
        color: rgb(242, 240, 238);
        padding: 10px;
        border-radius: 15px;
        font-size: 20px;
        font-family: Arial, sans-serif;
        /* font-style: italic; */
        font-weight: bolder;
        cursor: pointer;
        position: fixed ;
        bottom: 0px;
        
    }
    .firebutton:hover{
        background-color: rgb(247, 238, 220);
        color: rgb(231, 176, 25);
        box-shadow: 0 140px 10px rgba(36, 1, 1, 0.2);
    }
    
}